@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Karla:wght@200;300;400&family=Koulen&family=Quicksand:wght@400;600&family=Waiting+for+the+Sunrise&display=swap");
:root {
  --beige1: #496EAF;
  --light1: #f5f5f5;
  --dark1: #202020;
}
@font-face {
  font-family: 'MyFont';
  src: url('/public/pictures/Fonts/FuturaCyrillicBook.ttf') format('truetype'),
  url('/public/pictures/Fonts/FuturaCyrillicMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "MyFont", sans-serif;
  color: var(--dark1);
  margin-left: 1em;
  margin-right: 1em;
  background-color: #f5f5f5;
}

.side-nav {
  width: 50%; /* Make it span the full width of the viewport */
  background-color: #f5f5f5;
  padding: 10px 50px; /* Adjust padding as needed */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space out logo and links */
  position: fixed; /* Fixed position to keep it at the top */
  top: 0;
  left: 50%; /* Position the left edge of the nav at the center of the viewport */
  transform: translateX(-50%); /* Center the nav horizontally */
  z-index: 1000; /* Ensure it stays above other content */
  box-shadow: 0 2px 4px rgba(73, 110, 175, 0.1); /* Optional: Add shadow for better visibility */
  border-radius: 15px; 

}

.side-nav .logo {
  height: auto; /* Adjust based on your logo’s dimensions */
}

.side-nav .nav-links {
  display: flex;
  gap: 20px; /* Space between navigation links */
}

.side-nav .nav-links a {
  text-decoration: none;
  color: var(--beige1);
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px; /* Add padding for better clickability */
}

.side-nav .logo img {
  height: 40px;
}


.iconArea {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}
.icon img {
  position: relative;
  margin: 1em;
  width: 2em;
  height: auto;
  width: 24px;
  height: 24px;
}
.main-content {
  margin-left: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-content .section {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
li a {
  color: var(--beige1);
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.2em;
}
ul {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}


h1 {
  font-family: "MyFont", sans-serif;
  color: var(--beige1);
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 1.5em;
  white-space: nowrap;
}

h2 {
  font-family: "Koulen", cursive;
  color: var(--beige1);
  font-weight: 500;
  font-style: normal;
  text-align: left;
  font-size: 2em;
  margin-top: 2em;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
.intro p {
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  text-align: center;
  max-width: 15em;
}
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio_image {
  width: 100%;
  height: auto;
}
.view_button {
  display: none;
}
.view {
  display: none;
}
.view_link a {
  text-decoration: none;
  list-style-type: none;
  color: var(--beige1);
}
.view h5 {
  color: var(--beige1);
  font-size: 1em;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}
.view p {
  font-family: "MyFont", sans-serif;
  font-size: 0.8em;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

footer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: center;
}
.copyright {
  font-size: 1em;
}

@media (min-width: 360px) {
  body {
    margin-left: 2em;
    margin-right: 2em;
  }
  .navbar {
    margin-right: 2em;
  }

  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .portfolio_image {
    width: 100%;
    height: auto;
  }
  .portfolio_wrapper_left {
    position: relative;
  }
  .portfolio_wrapper_left:hover img {
    opacity: 0.2;
  }

  .portfolio_wrapper_left:hover .view {
    opacity: 1;
  }

  .portfolio_wrapper_right {
    position: relative;
  }
  .portfolio_wrapper_right:hover img {
    opacity: 0.2;
  }

  .portfolio_wrapper_right:hover .view {
    opacity: 1;
  }

  .portfolio_wrapper_middle {
    position: relative;
  }
  .portfolio_wrapper_middle:hover img {
    opacity: 0.2;
  }

  .portfolio_wrapper_middle:hover .view {
    opacity: 1;
  }

  .view {
    transition: 0.6s ease-in;
    opacity: 0;
    display: block;
    text-align: center;
  }

  .view h5 {
    color: var(--beige1);
    font-size: 1.5em;
    top: 30%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  .view p {
    font-size: 0.8em;
    white-space: nowrap;
    padding: 0.5em 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .side-nav .nav-links {
    display: flex; /* Show nav-links */
    gap: 20px; /* Space between links */
  }

  /* Hide the "PORTFOLIO" link */
  .side-nav .nav-links a:first-child {
    display: none;
  }
}
@media (min-width: 600px) {
  body {
    margin-left: 5em;
    margin-right: 5em;
  }
  h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    margin-top: 1em;
  }
  h2 {
    font-size: 2em;
  }
}
@media (min-width: 768px) {
  body {
    margin-left: 7em;
    margin-right: 7em;
  }

  li a {
    font-size: 1.5em;
  }
  h1 {
    font-size: 2.2em;
  }

  h2 {
    font-size: 2.2em;
  }
 
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
  }
  .intro p {
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
    text-align: center;
    max-width: 20em;
    margin-bottom: 0;
  }

  .view h5 {
    color: var(--beige1);
    font-size: 2em;
    top: 30%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .view p {
    font-size: 1.2em;
    font-family: "MyFont", sans-serif;
    padding: 0.5em 1em;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}
@media (min-width: 1024px) {
  body {
    margin-left: 12em;
    margin-right: 12em;
  }
  li a {
    font-size: 1.8em;
  }
  h1 {
    font-size: 2.5em;
    font-weight: bold;
  }

  h2 {
    font-size: 3em;
  }
  p {
    font-size: 1.5em;
  }
 
  .intro p {
    font-size: 2em;
  }

  .portfolio_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .portfolio_wrapper_left {
    position: relative;
  }

  .portfolio_wrapper_left:hover img {
    opacity: 0.2;
  }

  .portfolio_wrapper_left:hover .view {
    opacity: 1;
  }

  .portfolio_wrapper_right {
    position: relative;
  }
  .portfolio_wrapper_right:hover img {
    opacity: 0.2;
  }

  .portfolio_wrapper_right:hover .view {
    opacity: 1;
  }
  .view {
    transition: 0.3s ease-in;
    opacity: 0;
    display: block;
    text-align: center;
  }

  .view h5 {
    color: var(--beige1);
    font-size: 2em;
    top: 30%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .view p {
    color: var(--dark1);
    font-size: 1.5em;
    padding: 0.5em 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}
@media (min-width: 1536px) {
  body {
    margin-left: 20em;
    margin-right: 20em;
  }
  li a {
    font-size: 2em;
  }
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 5em;
  }
  p {
    font-size: 1.5em;
  }
 

  .intro p {
    color: var(--dark1);
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
    text-align: center;
    max-width: 30em;
  }
  .portfolio_wrapper {
    display: flex;

    justify-content: center;
    align-items: center;
  }
  .portfolio_wrapper_left {
    position: relative;
  }

  .portfolio_wrapper_left:hover img {
    opacity: 0.2;
  }

  .portfolio_wrapper_left:hover .view {
    opacity: 1;
  }

  .portfolio_wrapper_right {
    position: relative;
  }
  .portfolio_wrapper_right:hover img {
    opacity: 0.2;
  }

  .portfolio_wrapper_right:hover .view {
    opacity: 1;
  }
  .view {
    transition: 0.3s ease-in;
    opacity: 0;
    display: block;
    text-align: center;
  }

  .view h5 {
    color: var(--beige1);
    font-size: 2em;
    top: 30%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .view p {
    color: var(--dark1);
    font-size: 1.5em;
    padding: 0.5em 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}
