@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Karla:wght@200;300;400&family=Koulen&family=Quicksand:wght@400;600&family=Waiting+for+the+Sunrise&display=swap");
:root {
  --beige1: #496EAF;
  --light1: #f5f5f5;
  --dark1: #202020;
}

* {
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: 'MyFont';
  src: url('/public/pictures/Fonts/FuturaCyrillicBook.ttf') format('truetype'),
  url('/public/pictures/Fonts/FuturaCyrillicMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'MyFont', sans-serif;
  color: var(--dark1);
  background-color: #f5f5f5;
  margin-left: 2em;
  margin-right: 2em;
}
.side-nav {
  width: 50%; /* Make it span the full width of the viewport */
  background-color: #f5f5f5;
  padding: 10px 50px; /* Adjust padding as needed */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space out logo and links */
  position: fixed; /* Fixed position to keep it at the top */
  top: 0;
  left: 50%; /* Position the left edge of the nav at the center of the viewport */
  transform: translateX(-50%); /* Center the nav horizontally */
  z-index: 1000; /* Ensure it stays above other content */
  box-shadow: 0 2px 4px rgba(73, 110, 175, 0.1); /* Optional: Add shadow for better visibility */
  border-radius: 15px; 

}

.side-nav .logo {
  height: auto; /* Adjust based on your logo’s dimensions */
}

.side-nav .nav-links {
  display: flex;
  gap: 20px; /* Space between navigation links */
}

.side-nav .nav-links a {
  text-decoration: none;
  color: var(--beige1);
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px; /* Add padding for better clickability */
}

.side-nav .logo img {
  height: 40px;
}


h1 {
  font-family: "Koulen", cursive;
  color: var(--beige1);
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
  margin-top: 1em;
}

h4 {
  font-size: 1.2em;
  color: var(--beige1);
  margin-top: 1em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
h5 {
  display: flex;
  font-size: 1.1em;
  color: var(--beige1);
  margin-top: 0.1em;
  margin-bottom: 0.5em;
  justify-content: left;
  text-align: left;
}
h6 {
  display: flex;
  font-size: 1em;
  color: var(--beige1);
  margin-top: 1em;
  justify-content: left;
  text-align: left;
}

p {
  font-size: 1em;
}
ol {
  font-size: 1em;
  margin-left: 1em;
}
img {
  border-radius: 1%;
}
.Vpictures {
  height: auto;
  width: 90%;
  border-radius: 0.5em;
}
.pic {
  height: auto;
  width: 100%;
  border-radius: 0.5em;
}
.sitemap {
  height: auto;
  width: 100%;
  border-radius: 0.5em;
}
.box {
  height: auto;
  width: 50%;
  border-radius: 1em;
  border-radius: 0.5em;
}
.work_wrapper_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
.work_wrapper_main_right img {
  height: auto;
  width: 100%;
  margin-top: 1em;
  border-radius: 0.5em;
}
.work_wrapper_problem {
  width: 100;
  font-size: 1em;
}
.work_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.work_wrapper_right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pictures {
  height: auto;
  width: 80%;
  margin: 1em 0 1em 0;
  border-radius: 0.5em;
}

.pictures1 {
  height: auto;
  width: 60%;
  margin: 1em 0 1em 0;
  border-radius: 0.5em;
}
.pictures2 {
  height: auto;
  width: 40%;
}
.project_selection_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 2em 1em 1em 1em;
}
.project_selection_link_next {
  display: flex;
  justify-content: right;
}

.project_selection_link a {
  text-decoration: none;
  color: var(--beige1);
  font-size: 1.1em;
  font-weight: 600;
}
.project_selection_link a:hover {
  color: var(--beige1);
  transition: 0.5s;
}
.xd_link {
  color: var(--dark1);
  margin-top: 1em;
  font-size: 1em;
  font-weight: 600;
}
.link {
  font-size: 1em;
  color: var(--beige1);
  margin-top: 1em;
  font-weight: 900;
}
iframe video {
  height: 20%;
  width: auto;
}
.container {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.mySlides img {
  width: 50%;
}
.numbertext {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "MyFont", sans-serif;
  font-style: italic;
  white-space: nowrap;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.5em;
  padding: 15px;
  cursor: pointer;
  border-radius: 10%;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
@media (min-width: 360px) {
  .side-nav .nav-links {
    display: flex; /* Show nav-links */
    gap: 20px; /* Space between links */
  }

  /* Hide the "PORTFOLIO" link */
  .side-nav .nav-links a:first-child {
    display: none;
  }
  #rijksstudio {
    margin-top: 2em;
  }
}
@media (min-width: 640px) {
  body {
    margin-left: 5em;
    margin-right: 5em;
  }

  h1 {
    font-family: "Koulen", cursive;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  h4 {
    display: flex;
    font-size: 1.3em;
    color: var(--beige1);
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  h5 {
    display: flex;
    font-size: 1.1em;
    color: var(--beige1);
    margin-top: 1em;
    justify-content: center;
    text-align: center;
  }
 

  .prso {
    font-size: 1.3em;
    color: var(--beige1);
    margin-bottom: 0.1em;
    justify-content: left;
  }
  .work_wrapper_main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
  }

  iframe video {
    height: 70%;
    width: auto;
  }
  .work_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .work_wrapper_reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  .work_wrapper_reverse_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .work_wrapper_right_reverse {
    height: auto;
    width: 100%;
    margin: 1em;
  }
  .work_wrapper_left_reverse {
    height: auto;
    width: 100%;
    margin: 1em;
  }
  .work_wrapper_left {
    height: auto;
    width: 100%;
    margin: 1em;
  }
  .work_wrapper_right {
    height: auto;
    width: 100%;
    margin: 1em;
  }
  .reverse_text {
    display: flex;
    justify-content: left;
  }
  .pictures {
    height: auto;
    width: 100%;
  }
  img {
    height: auto;
    width: 50%;
    border-radius: 1%;
  }

  .project_selection_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 2em 1em 1em 1em;
  }
  .project_selection_link_next {
    display: flex;
    justify-content: right;
  }

  .project_selection_link,
  .project_selection_link_next a {
    text-decoration: none;
    color: var(--beige1);
    font-size: 1.2em;
    font-weight: 600;
  }
  .xd_link {
    color: var(--dark1);
    margin-top: 1em;
    font-size: 1em;
    font-weight: 600;
  }
  .link {
    display: flex;
    font-size: 1em;
    color: var(--beige1);
    margin-top: 1em;
    font-weight: 1000;
  }
  footer {
    width: 100% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer p {
    text-align: center;
    font-size: 1em;
    padding-bottom: 1em;
  }
}
@media (min-width: 768px) {
  body {
    margin-left: 10em;
    margin-right: 10em;
  }
  li a {
    font-size: 1.5em;
    margin-right: 1.5em;
  }

  h1 {
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  h4 {
    display: flex;
    font-size: 1.4em;
    color: var(--beige1);
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  h6 {
    display: flex;
    font-size: 1.1em;
    color: var(--beige1);
    margin-top: 1em;
    justify-content: left;
    text-align: center;
  }
  .prso {
    font-size: 1.3em;
    color: var(--beige1);
    margin-top: 1em;
    margin-bottom: 0.1em;
    justify-content: left;
  }
  h5 {
    display: flex;
    font-size: 1.1em;
    color: var(--beige1);
    margin-top: 1em;
    justify-content: center;
    text-align: center;
  }
  p {
    font-size: 1.1em;
  }
  ol {
    font-size: 1.1em;
    margin-left: 1em;
  }
  .work_wrapper_main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .work_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .work_wrapper_reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  .work_wrapper_reverse_1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  .work_wrapper_right_reverse {
    height: auto;
    width: 100%;
    margin: 1em;
  }
  .work_wrapper_left_reverse {
    height: auto;
    width: 100%;
    margin: 1em;
  }
  .work_wrapper_left {
    height: auto;
    width: 100%;
    margin: 1em;
  }
  .work_wrapper_right {
    height: auto;
    width: 100%;
    margin: 1em;
  }
  .reverse_text {
    display: flex;
    justify-content: left;
  }
  .project_selection_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 2em 1em 1em 1em;
  }
  .project_selection_link_next {
    display: flex;
    justify-content: right;
  }

  .project_selection_link,
  .project_selection_link_next a {
    text-decoration: none;
    color: var(--beige1);
    font-size: 1.2em;
    font-weight: 600;
  }
  .xd_link {
    color: var(--dark1);
    margin-top: 1em;
    font-size: 1.1em;
    font-weight: 600;
  }
  .link {
    display: flex;
    font-size: 1.3em;
    color: var(--beige1);
    margin-top: 1em;
    font-weight: 1000;
  }
  footer {
    width: 100% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer p {
    text-align: center;
    font-size: 1.1em;
    padding-bottom: 1em;
  }
  .mySlides img {
    width: 20%;
  }
}
@media (min-width: 1024px) {
  body {
    margin-left: 15em;
    margin-right: 15em;
  }
  .numbertext {
    position: absolute;
    bottom: -3%; /* Change top to bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    font-family: "MyFont", sans-serif;
    font-style: italic;
    white-space: nowrap;
  }

  h1 {
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  li a {
    font-size: 1.8em;
    margin-right: 2em;
  }
  h4 {
    display: flex;
    font-size: 1.6em;
    color: var(--beige1);
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  .prso {
    font-size: 1.6em;
    color: var(--beige1);
    margin-bottom: 0.1em;
    justify-content: left;
  }
  h5 {
    display: flex;
    font-size: 1.7em;
    color: var(--beige1);
    margin-top: 1em;
    justify-content: center;
    text-align: center;
  }
  h6 {
    display: flex;
    font-size: 1.4em;
    color: var(--beige1);
    margin-top: 1em;
    justify-content: left;
    text-align: center;
  }
  p {
    font-size: 1.4em;
  }
  ol {
    font-size: 1.4em;
    margin-left: 1em;
  }
  .work_wrapper_main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
  }

  .work_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .work_wrapper_reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  .work_wrapper_left {
    height: auto;
    width: 100%;
    margin: 1em;
  }
  .work_wrapper_right {
    height: auto;
    width: 100%;
    margin: 1em;
  }
  .sitemap {
    height: auto;
    width: 100%;
  }
  .xd_link {
    color: var(--dark1);
    margin-top: 1em;
    font-size: 1.4em;
    font-weight: 600;
  }
  .project_selection_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 2em 0 1em 0;
  }
  .project_selection_link_next {
    display: flex;
    justify-content: right;
  }

  .project_selection_link,
  .project_selection_link_next a {
    text-decoration: none;

    color: var(--beige1);
    font-size: 1.4em;
    font-weight: 600;
  }
  .link p {
    display: flex;
    font-size: 1.4em;
    color: var(--beige1);
    margin-top: 1em;
    font-weight: 1000;
  }
  footer {
    width: 100% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer p {
    text-align: center;
    font-size: 1.4em;
    padding-bottom: 1em;
  }
}
@media (min-width: 1280px) {
  body {
    margin-left: 15em;
    margin-right: 15em;
  }
  .backButton {
    width: 4%;
    text-decoration: none;
    position: relative;
    display: flex;
    font-size: 2em;
    align-content: center;
    align-items: center;
    color: var(--dark1);
    transition: 0.5s ease-in;
    white-space: nowrap;
  }

  li a {
    font-size: 1.8em;
  }
  h1 {
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  h4 {
    display: flex;
    font-size: 2em;
    color: var(--beige1);
    margin-top: 1em;
  }
  .prso {
    font-size: 1.8em;
    color: var(--beige1);
    margin-top: 1em;
    justify-content: left;
  }
  h5 {
    display: flex;
    font-size: 1.3em;
    color: var(--beige1);
    margin-top: 1em;
    justify-content: center;
    text-align: center;
  }
  h6 {
    display: flex;
    font-size: 1.3em;
    color: var(--beige1);
    margin-top: 1em;
    justify-content: left;
    text-align: center;
  }
  p {
    font-size: 1.3em;
  }
  ol {
    font-size: 1.3em;
    margin-left: 1em;
  }
  .work_wrapper_main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
  }

  .work_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .work_wrapper_reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
  }
  img {
    border-radius: 1%;
  }
  .work_wrapper_left {
    height: auto;
    width: 100%;
  }
  .work_wrapper_right {
    height: auto;
    width: 50%;
  }

  .project_selection_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 2em 0 1em 0;
  }
  .project_selection_link_next {
    display: flex;
    justify-content: right;
  }

  .project_selection_link,
  .project_selection_link_next a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
  }
}
@media (min-width: 1536px) {
  body {
    margin-left: 25em;
    margin-right: 25em;
  }

  li a {
    font-size: 2em;
    margin-right: 3em;
  }

  h1 {
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 4em;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  .pictures {
    height: auto;
    width: 90%;
  }

  .sitemap {
    height: auto;
    width: 100%;
  }
  .pic {
    height: auto;
    width: 50%;
  }
  .pictures1 {
    width: 100%;
  }

  img {
    height: auto;
    width: 50%;
  }

  h4 {
    display: flex;
    font-size: 2.5em;
    color: var(--beige1);
    margin-top: 1em;
  }
  h5 {
    display: flex;
    font-size: 2em;
    color: var(--beige1);
    margin-top: 1em;
    justify-content: center;
    text-align: center;
  }
  h6 {
    font-size: 1.8em;
  }
  p {
    font-size: 1.6em;
  }
  ol {
    font-size: 1.6em;
    margin-left: 1em;
  }

  .work_wrapper_main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
  }

  .work_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .work_wrapper_reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  .work_wrapper_left {
    height: auto;
    width: 100%;
  }
  .work_wrapper_right {
    height: auto;
    width: 100%;
  }

  .project_selection_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 2em 0 6em 0;
  }
  .project_selection_link_next {
    display: flex;
    justify-content: right;
  }

  .project_selection_link,
  .project_selection_link_next a {
    text-decoration: none;
    color: var(--beige1);
    font-size: 1.7em;
    font-weight: 600;
  }
  .project_selection_link,
  .project_selection_link_next a:hover {
    color: #8c674f;
  }
  * {
    box-sizing: border-box;
  }
}